// posts show page


.simple-submit {
  padding: 0px 5px 1px;
  margin: 0;
  line-height: 0;
  font-size: 7pt;
  margin: 1em 0 1em;
}
.comment-field {
  width: 30em;
  height: 8em;
}
.form-label {
  width: 6em;
}
.nested {
  padding-left: 3em;
}
